<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      body {
  padding-top: 5rem;
}
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">H2A</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>-->
                <!-- <li class="nav-item">
                     <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                 </li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" href="/contato">Contato</a></li>
                        <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
                         <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<main class="container">
    <div class="container mb3">
        <div class="row">
            <div class="col"></div>
            <div class="col border">
                <form action="/send-form" method="post">
                    <div class="mb-3">
                        <label for="nome">Nome:</label>
                        <input class="form-control" id="nome" name="name" placeholder="nome" type="text">
                    </div>
                    <div class="mb-3">
                        <label for="email">E-mail:</label>
                        <input class="form-control" id="email" name="mail" placeholder="name@example.com" type="email">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="msg">Mensagem:</label>
                        <textarea class="form-control" id="msg" name="message" rows="3"></textarea>
                    </div>
                    <div class="button">
                        <button class="btn btn-primary" type="submit">Enviar sua mensagem</button>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="p-3"></div>
    <div class="container bg-light mb3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"> Nome</th>
                <th scope="col"> email</th>
                <th scope="col"> mensagem</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${contato.empty}">
                <td colspan="2"> sem menssagens</td>
            </tr>
            <tr scope="row" th:each="cont : ${contato}">
                <td><span th:text="${cont.name}"> nome </span></td>
                <td><span th:text="${cont.mail}"> email </span></td>
                <td><span th:text="${cont.message}"> messagem </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
