<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      body {
  padding-top: 5rem;
}
    </style>

</head>
<body>

<!--insert navbar tempalte-->
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="container mb3">
        <div class="row">
            <div class="col"></div>
            <div class="col border">
                <form action="/send-form" method="post">
                    <div class="mb-3">
                        <label for="nome">Nome:</label>
                        <input type="text" class="form-control" id="nome" name="name" placeholder="nome">
                    </div>
                    <div class="mb-3">
                        <label for="email">E-mail:</label>
                        <input type="email" class="form-control" id="email" name="mail" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="msg" class="form-label">Mensagem:</label>
                        <textarea class="form-control" id="msg" name="message" rows="3"></textarea>
                    </div>
                    <div class="button">
                        <button class="btn btn-primary" type="submit">Enviar sua mensagem</button>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="p-3"> </div>
    <div class="container bg-light mb3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"> Nome</th>
                <th scope="col"> email</th>
                <th scope="col"> mensagem</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${contato.empty}">
                <td colspan="2"> sem menssagens</td>
            </tr>
            <tr scope="row" th:each="cont : ${contato}">
                <td><span th:text="${cont.name}"> nome </span></td>
                <td><span th:text="${cont.mail}"> email </span></td>
                <td><span th:text="${cont.message}"> messagem </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
