<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
    <head>
        <title>H2A Solutions</title>
    </head>
    <body>
        <div class="container" layout:fragment="body">
            <div class="starter-template text-center py-5 px-3">
                <img class="rounded-3 border border-2" th:src="@{/media/images/h2a.png}" title="Logotipo H2A Solutions" alt="Logotipo H2A Solutions" />
                <br>
                <h1>H2A Solutions</h1>
                <h6 class="lead">Soluções inteligentes para sua vida.<br> Sistemas personalizados.</h6>
            </div>
        </div>
        <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>